*{
    font-family: "Poppins", sans-serif;
     font-style: normal;

}
body{
    margin: 0px;
    padding: 0px;
   
}




.navbar{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content:space-around ;
    align-items: center;
}

.link-container{
    display: flex;
    gap: 15%;
}

.link-container a{
    text-decoration: none;
    color: #585858;
    font-size: 20px;
    font-weight: 550;
}

.Logo-text{
    color: #434343;
}

.Logo-text span{
    color: #a101fd;
}

.nav-btn{
    background-color: #a101fd;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.nav-btn:hover{
    background-color: #8801d6;
    transition: .5s ;
}

/* styles of banner section  */


.banner{
    height: 60vh;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content:center ;
    align-items: center;
}

.intro-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.intro-container h1{
    margin: 0;
    font-size: 60px;
}

.intro-container h1 span{
    color: #a101fd;
}

.intro-container h2{
    margin: 0;
}

.intro-container p{
    margin: 50px 0px 50px 0px ;
}

.profile-pic{
    object-fit: cover;
  
    
    
}

.book-btn{
    background-color: #a101fd;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.project-btn{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    text-decoration: none;
    

}

.intro-btn-container{
    display: flex;
   
    gap: 20px;
}



.meeting-img{
    width: 30px;
}

.git-img{
    width: 25px;
}

/* my projects */


.project-section{

text-align: center;
padding: 50px 0px 50px 0px ;
display: flex ;

flex-direction: column;
gap: 53px;



}

.cards-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;

}

.card{
    width: 30%;
    border: 2px solid rgb(0, 0, 0) ;
    padding: 0px;
    box-shadow: 7px 7px ;
    margin-bottom: 50px;

}

.card img{
    width: 100%;
    object-fit:cover ;
}

.project-details{
    padding: 0px 20px;

}

.project-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.project-linker{
    text-decoration: none;
    background-image: linear-gradient(to right, #605d5d 0%, black 100%);
    color: white;
    padding: 2px 10px ;
    border-radius: 30px;
    
}
    
.project-sec h1{
    font-size: 50px;

}



/* footer section style */

.footer{
    background-color: #000000;
    color: white;
}

.footer-text-container{
    text-align: center;
    padding: 100px 100px;

}

.copyright-msg{
    color: #848181;
}

/* for extra small mobile screen */

@media screen and (max-width: 420px) {

    .profile-pic{
        display: none;
    }
    .banner{
        height: auto;
    }

    .navbar h2{
        display: none;
    }
    .navbar{
        padding-top: 20px;
    }

    .intro-container{
        text-align: center;
        width: 100%;
    }
    .intro-container h1{
        font-size: 40px;
    }

    .intro-btn-container{
        justify-content: center;
        flex-direction: column;
    }

    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 70%;
    }

    .link-container{
        gap: 10px;
        font-size: 10px;
    }

    .nav-btn{
        padding: 2px 10px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 800;
    }

    .footer{
        width: 100%;
        
    }

    .footer img{
        width: 100px;
    }
    .footer-text-container{
        text-align: center;
       
    
    }

    .footer-title{
        text-align: center;
        font-size: 20px;
    }



}





/* media mobile screen */
@media screen and (min-width:421px) and (max-width: 768px) {
    
    .profile-pic{
        display: none;
    }
    .banner{
        height: auto;
    }

    .intro-container{
        text-align: center;
    }

    .intro-btn-container{
        justify-content: center;
    }

    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 70%;
    }

    .link-container{
        gap: 10px;
        font-size: 10px;
    }

    .nav-btn{
        padding: 2px 10px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 800;
    }



}





/* tablet screen */


@media screen and (min-width:769px) and (max-width:1023px){

    .profile-pic{
       width: 300px;
       height: 300px;
       order: 1;
    }
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .intro-container{
        text-align: center;
        order: 2;
    }

    .intro-btn-container{
        justify-content: center;
    }

    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 70%;
    }

    .link-container{
        gap: 30px;
        font-size: 10px;
    }

    .nav-btn{
        padding: 5px 15px;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 800;
    }


   

}

/* laptop screen */

@media screen and (min-width:1024px) and (max-width:1300px){
    .profile-pic{
        width: 400px;
        height: 400px;
    }
}


/* large size desktop screen */

@media screen and (min-width:1301px) and (max-width:2500px){
    .profile-pic{
        width: 500px;
        height: 500px;
    }
}
